/* Normalize CSS */
@import "normalize.css";

html {
    font-size: 16px;
    line-height: 1.65;
    font-family: "Montserrat", Roboto, Helvetica, Arial, sans-serif;
}

body {
    color: #444;
    padding: 0 1.5rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.page-wrapper {
    margin: 0 auto;
    max-width: 900px;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

/* Markup & Formatting */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 { color: #111; margin: 0 0 1.2rem; }
p { margin: 0 0 1.4rem; }
p:last-child { margin-bottom: 0; }
a { color: #5048d2; text-decoration: underline; }
a:active,
a:focus,
a:hover { text-decoration: none; }
ul,
ol { list-style-position: outside; padding-left: 1rem; font-size: 95%; }
li { margin-bottom: 6px; }
hr { margin: 2.5rem 0; border: 2px solid #eee; border-radius: 2px; }
code { background-color: #efefef; padding: 1px 6px; border-radius: 3px;}
.text-center { text-align: center; }
.semibold { font-weight: 600; }
.bold { font-weight: 700; }
.extrabold { font-weight: 800; }
.black { font-weight: 900; }
.uppercase { text-transform: uppercase; }
.subtle-text { color: #777; }
.mb-0 { margin-bottom: 0; }
.color-black { color: #000; }
.color-white { color: #fff; }
.dark-bg { background-color: #000 !important; color: #fff !important; }
.gradient-2025 {
    background: linear-gradient(135deg, #F8C03A 0%, #F63535 45%, #912EA6 100%);
    color: #fff;
    border-color: #F8C03A !important;
}
.gradient-2025.alt {
    background: linear-gradient(135deg, #8680DD 0%, #5148D3 20%, #0B0559 80%, #030032 100%);
    color: #fff;
    border-color: #0B0559 !important;
}

/* Branding Colors */
.color-swatch {
    font-weight: bold;
}

.color-swatch p {
    margin-bottom: 0;
}

.color-name {
}

.color-hex {
    font-size: 13px;
    font-weight: 600;
}

/* Flexbox */
.flex {
    display: flex;
    gap: .75rem;
}

@media all and (min-width: 768px) {
    .flex {
        gap: 1.5rem;
    }
}

/* Structure */
main > section {
    margin-bottom: 2rem;
}

main > section[class*="-container"] {
    border-bottom: 2px solid #eee;
    padding: 2rem 0;
}

main > section[class*="-container"] > h1 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

main > section[class*="-container"] > h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

/* Header */
.page-header {
    border-bottom: 2px solid #eee;
    flex-direction: column;
    margin-bottom: .8rem;
    padding: 2rem 0 1rem;
    text-align: center;
}

@media all and (min-width: 768px) {
    .page-header {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        text-align: left;
    }
}

.tagline {
    font-size: .8rem;
    margin-top: 0.5rem;
}

.site-logo {
    width: 12rem;
    height: auto;
}

/* Navigation */
nav {
    margin-bottom: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: .25em;
}

nav ul.flex {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

@media all and (max-width: 499.98px) {
    nav ul.flex {
        flex-direction: column;
        gap: 0;
    }
}

nav ul li {
    font-weight: 600;
    color: #000;
    font-size: .8rem;
}
nav ul a {
    display: block;
}

/* Footer */
.page-footer { padding: 2rem 0; font-size: 85%; }
.site-copyright { margin-top: 2rem; }

/* Assets */
.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

@media all and (min-width: 520px) {
    .grid {
        gap: 1.5rem;
    }
    .grid.cols-3 {
        grid-template-columns: 1fr 1fr;
    }
    .grid.cols-4 {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (min-width: 768px) {
    .grid.cols-2 {
        grid-template-columns: 1fr 1fr;
    }
    .grid.cols-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media all and (min-width: 992px) {
    .grid.cols-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 1rem .9rem;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
}

.grid-item a {
    text-decoration: none;
}

.grid-item a img {
    height: 54px;
    width: auto;
    vertical-align: bottom;
}

.cols-4 .grid-item a img {
    height: 72px;
}

.grid-item a p {
    color: #777;
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
}

.grid-item.dark-bg a p {
    color: #aeaeae;
}

.grid-item.gradient-2025 a p {
    color: #fff;
}

.grid-item.resources {
    align-items: normal;
    text-align: left;
    justify-content: start;
}

.grid-item.resources a {
    color: #111;
    font-weight: 500;
    text-decoration: underline;
}

.grid-item.resources a:hover {
    text-decoration: none;
}

.resources-title {
    gap: 8px;
}

.resource-icon {
    height: 24px;
    width: auto;
}
